################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApiGateway/bin/Debug/netcoreapp3.1
/ApiGateway/obj
/Authentication/bin/Debug/netcoreapp3.1
/Authentication/obj
/Authentication
/ApiGateway/bin/Release/netcoreapp3.1
